.header-cont {
  height: 100%;
  // position: relative;
  width: 100%;
}

html, body, #root {
  height: 100%
}

.page, .welcome-page {
  height: 100%;
}

.welcome-page, .login-form-container {
  width: 100%;
  height: 100%;
}

.login-form-container {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://res.cloudinary.com/dmhxtvnmi/image/upload/v1490075007/welcome_lnl4nm.jpg")
  center center;
  height: 100%;
  width: 100%;
  z-index: -1000;
}

.welcome-image {
  height: 100%;
  width: 100%;
  z-index: -1000;
}

.welcome-page-message {
  display: flex;
  margin: 0 auto;
  margin-top: 15%;
  color: white;
  flex-direction: column;
  align-items: center;
}

.welcome-page {
  display: flex;
  background-size: cover;
  position: absolute;
  z-index: -1000;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://res.cloudinary.com/dmhxtvnmi/image/upload/v1490075007/welcome_lnl4nm.jpg")
  center center;
}

.first-message {
  font-size: 56px;
  line-height: 1.1;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

.second-message {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  line-height: 1.1;
  margin-top: 8px;
  font-weight: 400;
}
