.header {
  height: 60px;
  border-bottom: 2px solid #bfcad2;
  display: flex;

}

html, body, #root {
  margin: 0;
  height: 100%
}

#root div:first-child, .welcome-page {
  margin: 0;
  height: 100%;
}

.welcome-page, .login-form-container {
  background-image: image-url("joshua-earle-2521.jpg");
}
