.header-cont {
  height: 100%;
  // position: fixed;
  width: 100%;
}

.header {
  height: 60px;
  border-bottom: 2px solid #bfcad2;
  display: flex;
  width: 100%;
}

html, body, #root {
  margin: 0;
  height: 100%
}

.page, .welcome-page {
  margin: 0;
  height: 100%;
}

.welcome-page, .login-form-container {
  background-image: image-url("joshua-earle-2521.jpg");
}
