
.booking-form-container-parent {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  background-color: black;
}

.booking-form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 502px;
  margin-top: 50px;
}

.booking-form {
  display: flex;
  flex-direction: column;
}

.booking-form-message-container {
  font-weight: bold;
  color: #929ead;
  padding-left: 20px;
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: #ecf0f1;
}

.booking-form-content {
  border-bottom: 1px solid #bfcad2;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.booking-form-message {
  visibility: visible;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
}

.booking-form-date-section {
  display: flex;
  flex-direction: row;
  margin-top: 27px;
  justify-content: space-between;
}

.booking-form-arrival-date, .booking-form-departure-date, .booking-form-travellers   {
  padding: 2px 2px;
  border: 1px solid #aeb5ba;
  border-radius: 4px;
  margin-bottom: 8px;
  font-weight: normal;
}

.booking-form-travellers {
  font-weight: normal;
  width: 99px;
  height: 30px;
}

.arrival-date-label, .departure-date-label, .travellers-label {
  font-weight: bold;
  color: #27374c;
}

.travellers-label {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.booking-form-buttons {
  display: flex;
  justify-content: flex-end;
  height: 63px;
  background-color: #d5dde2;
  color: white;
  align-items: center;
  padding-right: 21px;
}

.booking-form-submit-button {
  border: 1px solid $light-blue;
  width: 64px;
  height: 22px;
  background-color: $light-blue;
  border: 1px solid #287fb8;
  border-radius: 3px;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
}

.booking-form-cancel-button {
  border: 1px solid #afb7c3;
  width: 64px;
  height: 22px;
  background-color: #afb7c3;
  border-radius: 3px;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
  margin-right: 9px;
}

.booking-form-cancel-button:hover, .booking-form-submit-button:hover {
  cursor: pointer;
}

.booking-form-cancel-button:hover {
  background-color: #929dad;
  border: 1px solid #929dad;
}

.booking-form-submit-button:hover {
  background-color: #2371a3;
  border: 1px solid #2371a3;
}
