.dashboard-div-container {
  background-color: #f1efea;
  height: 100%;
}

.dashboard-div {
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-around;
}

.dashboard-left-container {
  display: flex;
  padding-top: 10px;
  background-color: #f1efea;
  width: 300px;
  height: 100%;
}

.dashboard-right-container {
  display: flex;
  flex: 1;
  margin-left: 12px;
  flex-direction: column;
  padding-top: 10px;
}
