.dashboard-div {
  display: flex;
  flex-direction: row;
  background-color: #f1efea;
}

.dashboard-left-container {
  display: flex;
  padding-left: 290px;
  padding-top: 10px;
  background-color: #f1efea;
}

.dashboard-right-container {
  display: flex;
  margin-left: 12px;
  flex-direction: column;
}

.dashboard-div-container {
  height: 100%;
  background-color: #f1efea;
}
