.dashboard-div {
  display: flex;
  flex-direction: row;
  background-color: #f1efea;
  max-width: 960px;
  margin: 0 auto;
}

.dashboard-left-container {
  display: flex;
  // padding-left: 290px;
  padding-top: 10px;
  background-color: #f1efea;
  width: 300px;
}

.dashboard-right-container {
  display: flex;
  flex: 1;
  margin-left: 12px;
  flex-direction: column;
  padding: 20px;
}

.dashboard-div-container {
  // display: flex;
  height: 100%;
  background-color: #f1efea;
}
