.header {
  display: flex;
  height: 60px;
  border-bottom: 2px solid #bfcad2;
}

.main-nav {
  display: flex;
  align-self: center;
  flex: auto;
}

.header-search {
  display: flex;
  border: 1px solid #aeb5ba;
  align-items: center;
  border-radius: 50px;
  margin-left: 10%;
  min-height: 30px;
  align-self: center;
}

.signup-button, .login-button, .logout-button, .demo-button {
  min-width: 73px;
}

.signup-button {
  width: 134px;
  height: 22px;
  background-color: $light-blue;
  border: 1px solid #287fb8;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  cursor: pointer;
  margin-left: 44%;
  align-self: center;
}

.login-button, .logout-button, .demo-button {
  border: 1px solid $light-blue;
  width: 74px;
  height: 22px;
  color: #287fb8;
  border-radius: 3px;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  cursor: pointer;
  margin-left: 13px;
  align-self: center;
}

.dashboard-button, .search-button {
  width: 80px;
  height: 22px;
  background-color: $light-blue;
  border: 1px solid #287fb8;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  align-self: center;
}

.dashboard-button {
  margin-left: 12%;
}

.search-button {
  margin-left: 13px;
}


.dashboard-button:hover {
  background-color: #2371a3;
  border: 1px solid #2371a3;
}

.signup-button:hover {
  background-color: #2371a3;
  border: 1px solid #2371a3;
}

.login-button:hover, .logout-button:hover, .demo-button:hover {
  background-color: #f2f2f2;
}

.header-search-label {
  margin-left: 25px;
  font-size: 13px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333333;
  font-weight: bold;
  min-width: 280px;
  // padding-right: 20px;
}

.header-search-button {
  cursor: pointer;
  color: #929dad;
  font-size: 15px;
}

.search-input {
  margin-left: 10%;
}

.logo-container {
  display: flex;
  margin-left: 16%;
  cursor: pointer;
}

.logo-container img {
  height: 50px;
}

@media screen and (max-width: 1500px) {

  .header-search {
    margin-left: 5%;
  }

  .dashboard-button {
    margin-left: 5%;
  }
}
