.search-page-container {
  display: flex;
  flex-direction: row;
  background-color: #f1efea;
  justify-content: space-between;
}

.search-page-right {
  width: 100%;
}

.map-search {
  width: 95%;
  height: 80%;
  margin-left: 12px;
}

.rooms-index {
  display: flex;
  width: 650px;
  color: #27374c;
  flex-direction: column;
  margin-left: 100px;
  flex-direction: column;
  position: relative;
}

.rooms-header {
  display: flex;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid #bfcad2;
  vertical-align: middle;
  padding-left: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 22px;
  background-color: white;
}

.room-item-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: white;
  margin-bottom: 3%;
}

.room-item-containt {
  background-color: #f2f2f2;
}

.room-item-content {
  display: flex;
  flex-direction: row;
  padding-top: 38px;

}

.room-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 300px;
  justify-content: center;
}

.room-item-image {
  width: 200px;
  margin-left: 20px;
}

.room-host-name {
  margin-bottom: 38px;
}

.room-item-info-ul {
  list-style-type: disc;
  margin-left: 20px;
}

.room-item-description {
  padding-left: 20px;
  padding-top: 38px;
}

.room-item-container:hover {
  background-color: #eceff2;
}

.room-item-address, .room-item-city, .room-dates-travellers-ul {
  margin-bottom: 15px;
}

.filter-dates-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}
.start-date-label, .end-date-label {
  font-weight: bold;
  color: #27374c;
}
.start-date, .end-date {
  padding: 2px;
  border: 1px solid #aeb5ba;
  border-radius: 4px;
  font-weight: normal;
  margin-left: 20px;
  text-align: center;
}
