.user-details-container, {
  display: flex;
  // border: 1px solid red;
  flex-direction: column;
  width: 304px;
  justify-content: space-between;
  color: #27374c;
  // align-items: center;
  background-color: white;
  border-bottom: 2px solid #bfcad2;
  height: 110px;
}

#user-name-city-container {
  width: 100%;
  padding-top: 28px;
}

.accepting-guests-dropdown-container {
  display: flex;
  color: #27374c;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  height: 60px;
  margin-left: 60px;
}

.accepting-guests-dropdown {
  display: flex;
  padding: 10px 10px 10px 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.user-name {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.user-home-city {
  margin-top: 3px;
  font-size: 21px;
  margin-bottom: 21px;
  text-align: center;
}

.dropdown1, .dropdown2, .dropdown3 {
  text-align: center;
  justify-content: center;
}
